@model IEnumerable<WorkManagement.Models.GoOutLetter>

@{
    ViewBag.Title = "Đăng Ký Nghỉ Sớm";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@*<div ng-app="myApp" ng-controller="formCtrl">*@
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>ĐĂNG KÝ NGHỈ SỚM</h2>

            <div class="clearfix"></div>
        </div><div class="x_content">
            <br />
            <form ng-app="" novalidate name="frmCreateGoOutLetter" action="CreatePost" method="post" class="form-horizontal form-label-left">
                @*<form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">*@
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12" for="startTime">
                        Thời gian bắt đầu <span class="required">*</span>
                    </label>
                    <div class="col-md-5 col-sm-5 col-xs-12">
                        <input type="text" name="startTime" ng-model="goOutLetter" class="form-control col-md-7 col-xs-12 input-validate datepicker">
                    </div>
                    @if (TempData["ErrorDay"] != null)
                    {
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <span class="error"><label class="control-label">@TempData["ErrorDay"]</label></span>

                        </div>
                        
                    }

                </div>
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-6">
                        Giờ bắt đầu <span class="required">*</span>
                    </label>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <input type="number" name="hour" ng-model="hour" min="1" max="24" ng-pattern="/^([0-9]+)$/" class="form-control col-md-7 col-xs-6 input-validate">
                    </div>
                    @*<div class="col-md-5 col-sm-5 col-xs-12">
                            <span class="error" ng-show="(frmCreateGoOutLetter.hour.$dirty||frmCreateGoOutLetter.$submitted) && frmCreateGoOutLetter.hour.$error.required"><label class="control-label">Hãy nhập giờ bắt đầu</label></span>
                            <span class="error" ng-show="frmCreateGoOutLetter.hour.$dirty && frmCreateGoOutLetter.hour.$error.pattern"><label class="control-label">Chỉ đc nhập số nguyên.</label></span>
                            <span class="error" ng-show="frmCreateGoOutLetter.hour.$dirty && frmCreateGoOutLetter.hour.$error.number"><label class="control-label">Giờ nhập sai định dạng.</label></span>
                            <span class="error" ng-show="frmCreateGoOutLetter.hour.$dirty && (frmCreateGoOutLetter.hour.$error.max||frmCreateGoOutLetter.hour.$error.min)"><label class="control-label">Giờ nhập vào không đúng.</label></span>
                        </div>*@
                    <label class="control-label col-md-1 col-sm-1 col-xs-6">
                        phút <span class="required">*</span>
                    </label>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <input type="number" name="minute" min="0" max="59" ng-pattern="/^([0-9]+)$/" required ng-model="minute" class="form-control col-md-7 col-xs-12 input-validate">

                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <span class="error" ng-show="(frmCreateGoOutLetter.hour.$dirty||frmCreateGoOutLetter.$submitted) && frmCreateGoOutLetter.hour.$error.required"><label class="control-label">Hãy nhập giờ bắt đầu</label></span>
                        <span class="error" ng-show="frmCreateGoOutLetter.hour.$dirty && frmCreateGoOutLetter.hour.$error.pattern"><label class="control-label">Chỉ đc nhập số nguyên.</label></span>
                        <span class="error" ng-show="frmCreateGoOutLetter.hour.$dirty && frmCreateGoOutLetter.hour.$error.number"><label class="control-label">Giờ nhập sai định dạng.</label></span>
                        <span class="error" ng-show="frmCreateGoOutLetter.hour.$dirty && (frmCreateGoOutLetter.hour.$error.max||frmCreateGoOutLetter.hour.$error.min)"><label class="control-label">Giờ nhập vào không đúng.</label></span>
                        <span class="error" ng-show="(frmCreateGoOutLetter.minute.$dirty||frmCreateGoOutLetter.$submitted) && frmCreateGoOutLetter.minute.$error.required"><label class="control-label">Hãy nhập phút bắt đầu</label></span>
                        <span class="error" ng-show="frmCreateGoOutLetter.minute.$dirty && frmCreateGoOutLetter.minute.$error.pattern"><label class="control-label">Chỉ đc nhập số nguyên.</label></span>
                        <span class="error" ng-show="frmCreateGoOutLetter.minute.$dirty && frmCreateGoOutLetter.minute.$error.number"><label class="control-label">Phút nhập sai định dạng.</label></span>
                        <span class="error" ng-show="frmCreateGoOutLetter.minute.$dirty && (frmCreateGoOutLetter.minute.$error.max||frmCreateGoOutLetter.minute.$error.min)"><label class="control-label">Phút nhập vào không đúng.</label></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12" for="totalTime">
                        Thời gian nghỉ <span class="required">*</span>
                    </label>
                    <div class="col-md-5 col-sm-5 col-xs-12">
                        <input type="number" name="totalTime" ng-pattern="/^([0-9]+)$/" required ng-model="totalTime" class="form-control col-md-7 col-xs-12 input-validate">
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-12">
                        <span class="error" ng-show="(frmCreateGoOutLetter.totalTime.$dirty||frmCreateGoOutLetter.$submitted) && frmCreateGoOutLetter.totalTime.$error.required"><label class="control-label">Hãy nhập thời gian nghỉ</label></span>
                        <span class="error" ng-show="frmCreateGoOutLetter.totalTime.$dirty && frmCreateGoOutLetter.totalTime.$error.pattern"><label class="control-label">Chỉ đc nhập  số nguyên.</label></span>
                        <span class="error" ng-show="frmCreateGoOutLetter.totalTime.$dirty && frmCreateGoOutLetter.totalTime.$error.number"><label class="control-label">Số nhập sai định dạng.</label></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12" for="reason">
                        Lý do <span class="required">*</span>
                    </label>
                    <div class="col-md-5 col-sm-5 col-xs-12">
                        <select name="reason" ng-model="reason" class="form-control col-md-7 col-xs-12 ">
                            @foreach (var item in ViewBag.ListReason)
                            {
                                <option value="@item.ID">@item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-12">
                        <span class="error" ng-show="(frmCreateGoOutLetter.reason.$dirty||frmCreateGoOutLetter.$submitted) && frmCreateGoOutLetter.reason.$error.required"><label class="control-label">Hãy chọn lý do</label></span>

                    </div>

                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <button ng-click ng-disabled="frmCreateGoOutLetter.$invalid" class="btn btn-primary">Gửi</button>
                    </div>
                    
                </div>

            </form>
        </div>

    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
