<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>Quản lý</h3>
        <ul class="nav side-menu">
            <li>
                <a><i class="fa fa-calendar-times-o"></i> Chấm công <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="~/Timekeeping/Check">Check</a></li>
                    <li><a href="~/Timekeeping/ShowInMonthOneEmployee">Xem trong tháng</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-edit"></i> Xin nghỉ phép <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="~/AbsenceLetter/Create">Tạo mới</a></li>
                    <li><a href="~/AbsenceLetter/Index_Employee">Xem tình trạng</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-edit"></i> Xin nghỉ sớm <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="~/GoOutLetter/Create">Tạo mới</a></li>
                    <li><a href="~/GoOutLetter/Index_Employee">Xem tình trạng</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-file-text-o"></i>Quản lý chấm công <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="~/Timekeeping/ManagerToday">Trong ngày</a></li>
                    <li><a href="~/Timekeeping/ManagerOption">Tùy chọn quản lý</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-file-text-o"></i>Quản lý nghỉ phép <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="~/Employees/ViewTimeUsed">Thông tin nghỉ phép</a></li>
                    <li><a href="~/BonusDayOffs/Create">Thêm nghỉ phép</a></li>
                </ul>
            </li>
            <li>

                <a><i class="fa fa-file-text-o"></i> Xem đơn nhận <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="~/AbsenceLetter/Index_Manager">Nghỉ phép</a></li>
                    <li><a href="~/GoOutLetter/Index_Manager">Nghỉ sớm</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- /sidebar menu -->
