 <!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>Admin</h3>
        <ul class="nav side-menu">
            <li>
                <a><i class="fa fa-edit"></i> Quản lý nhân viên <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="~/Accounts/Index">Danh sách nhân viên</a></li>
                    <li><a href="~/Employees/Create">Thêm nhân viên</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-home"></i> Quản lý tài khoản <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="~/Accounts/Create">Thêm tài khoản</a></li>
                    <li><a href="~/Accounts/ResetPassword">Reset mật khẩu</a></li>
                </ul>
            </li>


        </ul>
    </div>
</div>
<!-- /sidebar menu -->
