 <!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>Quản lý cấp cao</h3>
        <ul class="nav side-menu">
            <li>
                <a><i class="fa fa-file-text-o"></i> Xem chấm công <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="~/Timekeeping/ManagerToday">Trong ngày</a></li>
                    <li><a href="~/Timekeeping/ManagerOption">Trong tháng</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-file-text-o"></i> Xem ngày phép <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="~/Employees/ViewTimeUsed">Nghỉ phép</a></li>
                    <li><a href="~/BonusDayOffs/Create">Nghỉ sớm</a></li>
                </ul>
            </li>
            <li>

                <a><i class="fa fa-file-text-o"></i> Xem đơn nhận <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="~/AbsenceLetter/ViewAbsenceLetter_SuperManager">Nghỉ phép</a></li>
                    <li><a href="~/GoOutLetter/ViewGoOutLetter_SuperManager">Nghỉ sớm</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- /sidebar menu -->
