<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li>
                <a><i class="fa fa-calendar-times-o"></i> Chấm công <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="#">Check</a></li>
                    <li><a href="#">Xem trong tháng</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-edit"></i> Xin nghỉ phép <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="~/AbsenceLetters/Create">Tạo mới</a></li>
                    <li><a href="~/AbsenceLetters/Index">Xem tình trạng</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-edit"></i> Xin nghỉ sớm <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="~/GoOutLetters/Create">Tạo mới</a></li>
                    <li><a href="~/GoOutLetters/Index">Xem tình trạng</a></li>
                </ul>
            </li>


        </ul>
    </div>
</div>
<!-- /sidebar menu -->
