@model IEnumerable<WorkManagement.Models.Timekeeping>
@{
    ViewBag.Title = "Check";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<p>Bạn chưa check in</p>
<button class="btn btn-round btn-success btn-lg">Check in</button>
<p>Bạn chưa check out</p>
<button class="btn btn-round btn-warning btn-lg">Check out</button>

