/*css error validation*/
#gender{
    padding-top:7px;
}
input.ng-dirty.ng-invalid.input-validate {
    border: 1px solid red;
}
.email_login{
    border:none;
}
.error{
    /*float: left;
    margin: 0 ;
    padding: 3px 10px;
    color: #FFF;
    border-radius: 3px 4px 4px 3px;
    background-color: #CE5454;
    max-width: 230px;
    white-space: pre;
    position: relative;
    z-index: 1;
    transition: 0.15s ease-out;
    border:1px solid transparent;*/
    color: #E74C3C;
    padding-left: 0;
    margin-bottom:0;
}
.error label{
    
    font-weight:unset;
}
.error::after {
    /*content: '';
    display: block;
    height: 0;
    width: 0;
    border-color: transparent #CE5454 transparent transparent;
    border-style: solid;
    border-width: 11px 7px;
    position: absolute;
    left: -13px;
    top: 1px;*/
}

/*css radio button*/
input[type=radio].css-checkbox {
position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=radio].css-checkbox + label.css-label {
	padding-left:20px;
	height:15px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;

}

input[type=radio].css-checkbox:checked + label.css-label {
	background-position: 0 -15px;
}

label.css-label {
    background-image:url(csscheckbox_da83f5ec4bfb0d37395bf0b9a7a44321.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.login-validation{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
div.login-validation{
    margin-bottom: 15px;
    box-sizing: border-box;
    display: block;
}
h2.login-validation {
    color: #a94442;
    text-align: center;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

textarea.textarea{
     overflow-y: scroll;
    height: 100px;
    resize: none;
}