@model WorkManagement.Models.Employee
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Thêm nhân viên</h2>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <form ng-app="" name="frmCreateEmployee" novalidate class="form-horizontal form-label-left">

                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="employee_name">
                            Tên nhân viên <span class="required">*</span>
                        </label>
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <input type="text" name="employee_name" ng-pattern="/^([a-zA-Z0-9]+)$/" required ng-model="employee_name_name" ng-trim="true" ng-minlength="4" ng-maxlength="50" class="form-control col-md-7 col-xs-12 ">
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <span class="error" ng-show="(frmCreateEmployee.employee_name.$dirty||frmCreateEmployee.$submitted) && frmCreateEmployee.employee_name.$error.required"><label class="control-label">Hãy nhập tên nhân viên.</label></span>
                            <span class="error" ng-show="frmCreateEmployee.employee_name.$dirty && frmCreateEmployee.employee_name.$error.minlength"><label class="control-label">Ít nhất là 4 ký tự.</label></span>
                            <span class="error" ng-show="frmCreateEmployee.employee_name.$dirty && frmCreateEmployee.employee_name.$error.maxlength"><label class="control-label">Nhiều nhất là 50 ký tự.</label></span>
                            <span class="error" ng-show="frmCreateEmployee.employee_name.$dirty && frmCreateEmployee.employee_name.$error.pattern"><label class="control-label">Không được phép có ký tự đặc biệt.</label></span>
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button type="submit" class="btn btn-danger">Hủy</button>
                            <button type="submit" class="btn btn-primary">Tạo</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


