@model WorkManagement.Models.Account
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Đổi mật khẩu</h2>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <form ng-app="" novalidate name="frmChangePassword" method="post" action="@Url.Action("ChangePassword","Accounts")" class="form-horizontal form-label-left">
                    <div class="form-group">
                        <label for="old_password" class="control-label col-md-2 col-sm-2 col-xs-12">
                            Mật khẩu cũ <span class="required">*</span>
                        </label>
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <input type="text" name="old_password" required ng-model="old_password" ng-trim="true" class="form-control col-md-7 col-xs-12 ">
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <span class="error" ng-show="(frmChangePassword.old_password.$dirty||frmChangePassword.$submitted) && frmChangePassword.old_password.$error.required"><label class="control-label">Hãy nhập mật khẩu cũ.</label></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="new_password">
                            Mật khẩu mới <span class="required">*</span>
                        </label>
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <input type="password" name="new_password" ng-pattern="/^([a-zA-Z0-9]+)$/" required ng-model="new_password" ng-trim="true" ng-minlength="6" ng-maxlength="25" class="form-control col-md-7 col-xs-12 ">
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <span class="error" ng-show="(frmChangePassword.new_password.$dirty||frmChangePassword.$submitted) && frmChangePassword.new_password.$error.required"><label class="control-label">Hãy nhập mật khẩu mới.</label></span>
                            <span class="error" ng-show="frmChangePassword.new_password.$dirty && frmChangePassword.new_password.$error.minlength"><label class="control-label">Ít nhất là 6 ký tự.</label></span>
                            <span class="error" ng-show="frmChangePassword.new_password.$dirty && frmChangePassword.new_password.$error.maxlength"><label class="control-label">Nhiều nhất là 25 ký tự.</label></span>
                            <span class="error" ng-show="frmChangePassword.new_password.$dirty && frmChangePassword.new_password.$error.pattern"><label class="control-label">Không được phép có ký tự đặc biệt.</label></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="new_password2">
                            Mật khẩu mới (Nhập lại) <span class="required">*</span>
                        </label>
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <input type="password" name="new_password2" required ng-pattern="/^([a-zA-Z0-9]+)$/" ng-model="new_password2" ng-trim="true" ng-minlength="6" ng-maxlength="25" class="form-control col-md-7 col-xs-12">
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <span class="error" ng-show="(frmChangePassword.new_password2.$dirty||frmChangePassword.$submitted) && frmChangePassword.new_password2.$error.required"><label class="control-label">Hãy nhập mật khẩu mới (nhập lại).</label></span>
                            <span class="error" ng-show="frmChangePassword.new_password2.$dirty && frmChangePassword.new_password2.$error.minlength"><label class="control-label">Ít nhất là 6 ký tự.</label></span>
                            <span class="error" ng-show="frmChangePassword.new_password2.$dirty && frmChangePassword.new_password2.$error.maxlength"><label class="control-label">Nhiều nhất là 25 ký tự.</label></span>
                            <span class="error" ng-show="frmChangePassword.new_password2.$dirty && frmChangePassword.new_password2.$error.pattern"><label class="control-label">Không được phép có ký tự đặc biệt.</label></span>
                        </div>
                    </div>
                    
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-5 col-sm-5 col-xs-12 col-md-offset-3">
                            <button type="submit" class="btn btn-danger">Hủy</button>
                            <button type="submit" ng-disabled="frmChangePassword.$invalid" class="btn btn-primary">Thay đổi</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

