@model IEnumerable<WorkManagement.Models.Account>

@{
    ViewBag.Title = "Danh sách tài khoản";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="title_right">
    <div class="col-md-3 col-sm-3 col-xs-11 form-group pull-right top_search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Tìm kiếm...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_title">

                <h2>Thông tin các tài khoản</h2>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="x_content">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Tên nhân viên
                            </th>
                            <th>
                                Tên tài khoản
                            </th>
                            <th>
                                Quyền
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Employee.FullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Permission.Name)
                                </td>
                                <td>
                                    <button class="btn btn-danger">Xóa</button>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>