
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ErrorDB</title>
</head>
<body>
    <div> 
        <p class="text-center text-danger">Đã có lỗi xảy ra, hãy chắc chắn rằng dữ liệu nhập vào đúng!</p>
    </div>
</body>
</html>
