
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome to website</title>
</head>
<body>
    <div> 
        <p class="text-center text-danger">Welcome to website</p>
    </div>
</body>
</html>
